<div class="fondo">
    <app-nav></app-nav>

    <router-outlet></router-outlet>
</div>

<!--
<header>
    <h1>Estamos trabajando en ello</h1>
    <h2>Mientras tanto, puedes seguirnos en nuestras redes sociales</h2>
</header>
<main>
    <div class="social-links">
        <a href="https://www.facebook.com/share/1N74bFj1da/" target="_blank" class="facebook">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path
                    d="M22 12.07C22 6.48 17.52 2 12 2S2 6.48 2 12.07c0 5.02 3.66 9.18 8.44 9.92v-7.02H8.12v-2.9h2.32V9.61c0-2.3 1.38-3.57 3.48-3.57.99 0 2.02.18 2.02.18v2.22h-1.14c-1.12 0-1.47.69-1.47 1.4v1.68h2.48l-.4 2.9h-2.08v7.02c4.78-.74 8.44-4.9 8.44-9.92z" />
            </svg>
        </a>
        <a href="https://www.tiktok.com/@subliform_21?_t=8rokVER5rr5&_r=1" target="_blank" class="tiktok">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12.8 3.5v8.6a3.8 3.8 0 11-3.8-3.8H9a6.3 6.3 0 105.3 6.3V6.4a5.2 5.2 0 003.6 1.5h.3v-3a5.1 5.1 0 01-3.6-1.5 5.4 5.4 0 01-1.8-4.4H12a4.2 4.2 0 01.8 2.5zm-2.2 5.3a1.7 1.7 0 00-1.7 1.7 1.8 1.8 0 003.3.8 1.8 1.8 0 00-1.6-2.5z"/></svg>
        </a>
        <a href="https://www.instagram.com/subliform_21?utm_source=qr&igsh=OTV0c2c4OHZrYmV4" target="_blank"
            class="instagram">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path
                    d="M7.75 2h8.5A5.75 5.75 0 0122 7.75v8.5A5.75 5.75 0 0116.25 22h-8.5A5.75 5.75 0 012 16.25v-8.5A5.75 5.75 0 017.75 2zM12 7.75a4.25 4.25 0 100 8.5 4.25 4.25 0 000-8.5zm6.5-.25a1 1 0 11-2 0 1 1 0 012 0z" />
            </svg>
        </a>
    </div>
</main>
<footer>
    <a href="https://wa.me/573228885913" target="_blank" class="whatsapp-link">Contactar por WhatsApp</a>
</footer>
-->